dataset
__pycache__/
*.pt
PaGraph
parti_results/
.vscode/
tmp*.txt
PaRMAT/
*.txt
repgnn_data
dgl_src
tmp*
error.log
3rdparties/gcn
logs*
3rdparties/GCN.PyTorch
nohup.out
data.xlsx
log_analys.yaml
*.png
script_auto_server_client_tmp.py
auto_test/script_auto_server_client_tmp_try.py*.log
*.err
ogbn_arxiv0/
data/
dataset/
*.npy
